---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: ""
        form: {}
        headers:
            Return-Client-Request-Id:
                - "false"
            X-Client-Cpu:
                - amd64
            X-Client-Os:
                - linux
            X-Client-Sku:
                - MSAL.Go
            X-Client-Ver:
                - 1.2.0
        url: https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2FAZURE_TENANT_ID%2Foauth2%2Fv2.0%2Fauthorize
        method: GET
      response:
        body: '{"tenant_discovery_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/v2.0/.well-known/openid-configuration","api-version":"1.1","metadata":[{"preferred_network":"login.microsoftonline.com","preferred_cache":"login.windows.net","aliases":["login.microsoftonline.com","login.windows.net","login.microsoft.com","sts.windows.net"]},{"preferred_network":"login.partner.microsoftonline.cn","preferred_cache":"login.partner.microsoftonline.cn","aliases":["login.partner.microsoftonline.cn","login.chinacloudapi.cn"]},{"preferred_network":"login.microsoftonline.de","preferred_cache":"login.microsoftonline.de","aliases":["login.microsoftonline.de"]},{"preferred_network":"login.microsoftonline.us","preferred_cache":"login.microsoftonline.us","aliases":["login.microsoftonline.us","login.usgovcloudapi.net"]},{"preferred_network":"login-us.microsoftonline.com","preferred_cache":"login-us.microsoftonline.com","aliases":["login-us.microsoftonline.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 290.911842ms
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
            Return-Client-Request-Id:
                - "false"
            X-Client-Cpu:
                - amd64
            X-Client-Os:
                - linux
            X-Client-Sku:
                - MSAL.Go
            X-Client-Ver:
                - 1.2.0
        url: https://login.microsoftonline.com/AZURE_TENANT_ID/v2.0/.well-known/openid-configuration
        method: GET
      response:
        body: '{"token_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic"],"jwks_uri":"https://login.microsoftonline.com/AZURE_TENANT_ID/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/AZURE_TENANT_ID/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/AZURE_TENANT_ID/kerberos","tenant_region_scope":"WW","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.257624ms
    - id: 2
      request:
        host: ""
        body: client_id=[REDACTED]&client_secret=Bad_Secret&grant_type=client_credentials&req_cnf=[REDACTED]&scope=[REDACTED]%2F.default+openid+offline_access+profile+openid+offline_access+profile&token_type=pop
        form:
            client_id:
                - '[REDACTED]'
            client_secret:
                - Bad_Secret
            grant_type:
                - client_credentials
            req_cnf:
                - '[REDACTED]'
            scope:
                - '[REDACTED]/.default openid offline_access profile'
            token_type:
                - pop
        headers:
            Content-Type:
                - application/x-www-form-urlencoded; charset=utf-8
            Return-Client-Request-Id:
                - "false"
            X-Client-Cpu:
                - amd64
            X-Client-Os:
                - linux
            X-Client-Sku:
                - MSAL.Go
            X-Client-Ver:
                - 1.2.0
        url: https://login.microsoftonline.com/AZURE_TENANT_ID/oauth2/v2.0/token
        method: POST
      response:
        body: '{"error":"invalid_client","error_description":"AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not the client secret ID, for a secret added to app ''''[REDACTED]''''.\r\nTrace ID: [REDACTED]\r\nCorrelation ID: [REDACTED]\r\nTimestamp: 2023-06-02 21:00:26Z","error_codes":[7000215],"timestamp":"2023-06-02 21:00:26Z","trace_id":"[REDACTED]","correlation_id":"[REDACTED]","error_uri":"https://login.microsoftonline.com/error?code=7000215"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 401 Unauthorized
        code: 401
        duration: 128.330915ms
