name: Build on Push
on:
  push:
    paths-ignore:
      - docs/**
      - README.md
  pull_request:
    branches:
      - master
    paths-ignore:
      - docs/**
      - README.md

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Build
        run: make

      - name: Test
        run: make test

      - name: Build (linux)
        env:
          GOOS: linux
          GOARCH: amd64
        run: make

      - name: Build (linux/arm)
        env:
          GOOS: linux
          GOARCH: arm64
        run: make

      - name: Build (darwin)
        env:
          GOOS: darwin
          GOARCH: amd64
        run: make

      - name: Build (darwin/arm)
        env:
          GOOS: darwin
          GOARCH: arm64
        run: make

      - name: Build (windows)
        env:
          GOOS: windows
          GOARCH: amd64
        run: make

      - name: Build (windows/arm)
        env:
          GOOS: windows
          GOARCH: arm64
        run: make

      - name: Snap Build
        uses: snapcore/action-build@v1
        id: snapbuild

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
