name: Release
on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - name: Set up Go 1.19
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Build (linux)
      env:
        GOOS: linux
        GOARCH: amd64
      run: make

    - name: Build (linux/arm)
      env:
        GOOS: linux
        GOARCH: arm64
      run: make

    - name: Build (darwin)
      env:
        GOOS: darwin
        GOARCH: amd64
      run: make

    - name: Build (darwin/arm)
      env:
        GOOS: darwin
        GOARCH: arm64
      run: make

    - name: Build (windows)
      env:
        GOOS: windows
        GOARCH: amd64
      run: make

    - name: Snap Build
      uses: snapcore/action-build@v1
      id: snapbuild

    - name: Zip
      uses: montudor/action-zip@v1
      with:
        args: zip -qq -r kubelogin.zip bin

    - name: Zip (win-amd64)
      uses: montudor/action-zip@v1
      with:
        args: zip -qq kubelogin-win-amd64.zip bin/windows_amd64/kubelogin.exe

    - name: Zip (darwin-amd64)
      uses: montudor/action-zip@v1
      with:
        args: zip -qq kubelogin-darwin-amd64.zip bin/darwin_amd64/kubelogin

    - name: Zip (darwin-arm64)
      uses: montudor/action-zip@v1
      with:
        args: zip -qq kubelogin-darwin-arm64.zip bin/darwin_arm64/kubelogin

    - name: Zip (linux-amd64)
      uses: montudor/action-zip@v1
      with:
        args: zip -qq kubelogin-linux-amd64.zip bin/linux_amd64/kubelogin

    - name: Zip (linux-arm64)
      uses: montudor/action-zip@v1
      with:
        args: zip -qq kubelogin-linux-arm64.zip bin/linux_arm64/kubelogin

    - name: Create sha256 Checksums
      run: |
        sha256sum kubelogin.zip > kubelogin.zip.sha256
        sha256sum kubelogin-win-amd64.zip > kubelogin-win-amd64.zip.sha256
        sha256sum kubelogin-darwin-amd64.zip > kubelogin-darwin-amd64.zip.sha256
        sha256sum kubelogin-darwin-arm64.zip > kubelogin-darwin-arm64.zip.sha256
        sha256sum kubelogin-linux-amd64.zip > kubelogin-linux-amd64.zip.sha256
        sha256sum kubelogin-linux-arm64.zip > kubelogin-linux-arm64.zip.sha256

    - name: Publish
      uses: skx/github-action-publish-binaries@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: kubelogin.zip kubelogin-win-amd64.zip kubelogin-darwin-amd64.zip kubelogin-darwin-arm64.zip kubelogin-linux-amd64.zip kubelogin-linux-arm64.zip kubelogin.zip.sha256 kubelogin-win-amd64.zip.sha256 kubelogin-darwin-amd64.zip.sha256 kubelogin-darwin-arm64.zip.sha256 kubelogin-linux-amd64.zip.sha256 kubelogin-linux-arm64.zip.sha256

    - name: Publish to Snap Store
      uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPSTORE_LOGIN }}
      with:
        snap: ${{ steps.snapbuild.outputs.snap }}
        release: stable

    # Read changelog and read versions etc.
    - name: Check version is mentioned in Changelog.md
      id: changelog_reader
      uses: mindsers/changelog-reader-action@v2
      with:
        validation_depth: 10
        path: './CHANGELOG.md'
    # Check if the newest tag already exists
    - name: Check if tag exist
      uses: mukunku/tag-exists-action@5dfe2bf779fe5259360bb10b2041676713dcc8a3 # v1.1.0
      id: check-tag-exists
      with:
        tag:  "v${{ steps.changelog_reader.outputs.version }} release" # following the pattern of vx.x.xx release used in this repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # Create Release with artifacts
    - name: Create Kubelogin Release
      if: ${{ steps.check-tag-exists.outputs.exists == 'false'}}
      uses: softprops/action-gh-release@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name : "v${{ steps.changelog_reader.outputs.version }}"
        name: "v${{ steps.changelog_reader.outputs.version }} release" # following the pattern of vx.x.xx release used in this repo
        body: ${{ steps.changelog_reader.outputs.changes }}
